.tip-card {
  width: 280px;
  background: transparent;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  /* border: 2px solid #1B5E44; green border */
  border-radius: 16px;
  overflow: hidden;

  transition: transform 0.3s ease, box-shadow 0.3s ease; /* smooth animation */
}

/* Hover effect: lift the card */
.tip-card:hover {
  transform: translateY(-10px); /* move card up */
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2); /* add shadow for depth */
}

.tip-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.tip-content {
  background: #f3f3f3;
  margin-top: -40px;
  padding: 20px 18px 22px;
  border-radius: 0 0 18px 18px;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tip-title {
  background: transparent;
  padding: 6px 18px;
  border-radius: 20px;
  font-weight: 700;
  display: block;
  margin: 0 auto;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.tip-desc {
  font-size: 13px;
  color: #333;
  line-height: 1.5;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  width: 100%;
  box-sizing: border-box;
}

.tip-link {
  display: block;
  margin-top: auto;
  font-size: 12px;
  text-decoration: none;
  color: #000;
}

.tip-link span {
  color: #0a6cff;
  font-weight: 600;
}
